services:
  otel-collector:
    build:
      context: ./otel-collector
    ports:
      - "4318:4318"
    env_file:
      - .env
    environment:
      - ELASTIC_ENDPOINT=${ELASTIC_ENDPOINT}
      - ELASTIC_TOKEN=${ELASTIC_TOKEN}
    command: ["--config=/etc/otelcol/config.yaml", "--set=service.telemetry.logs.level=debug"]

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - ELASTICSEARCH_ENDPOINT=${ELASTICSEARCH_ENDPOINT}
      - ELASTICSEARCH_API=${ELASTICSEARCH_API}
      - CACHE_INDEX=${CACHE_INDEX}
    depends_on:
      - otel-collector

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "1234:1234"
    volumes:
      - ./public:/app/public
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
    env_file:
      - .env
    environment:
      - WEATHER_API_KEY=${WEATHER_API_KEY}
      - BACKEND_URL=http://localhost:8000
    depends_on:
      - otel-collector
      - backend