
#weather {
  display: block;
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 50%;

  color: black;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  display: none;
}